body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgb(125, 125, 224), rgb(48, 236, 192));
}

.wrapper {
    padding-left: 20px;
    width: 900px;
    display: flex;
    display: flex;
    justify-content: center;
}
.p{margin-left: -1000px;}

#score {
    padding-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#best_score {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}





#canvas {
    box-shadow: 0 0 5px black;
}

